@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7264f;
  background-image: radial-gradient(at 90% 59%, hsl(295, 70%, 50%) 0px, transparent 50%), radial-gradient(at 32% 88%, hsl(23, 65%, 45%) 0px, transparent 50%), radial-gradient(at 20% 87%, hsl(283, 91%, 55%) 0px, transparent 50%), radial-gradient(at 34% 69%, hsl(62, 74%, 76%) 0px, transparent 50%), radial-gradient(at 58% 30%, hsl(141, 63%, 43%) 0px, transparent 50%);
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}
.main .info_dp {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  overflow: hidden;
}
.main .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-top: 4px solid #06fcfc;
  border-right: 4px solid transparent;
  border-radius: 50%;
  color: #06fcfc;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main .q_a_box {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  position: relative;
  margin-bottom: 500px;
}
.main .qst {
  margin-top: 20%;
  text-align: center;
  font-size: 1.9rem;
  color: beige;
}
.main .t_f {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  font-size: 2rem;
}
.main .t_f .ans,
.main .t_f .next {
  font-size: 1.3rem;
  margin: 5%;
  padding: 2%;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.scoreCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.scoreCard button {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px;
}

.opt_box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px 10px;
  flex-direction: column;
  padding: 50px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.opt_box .sel_option {
  display: flex;
  flex-direction: column;
}
.opt_box .sel_option label {
  font-weight: bolder;
}
.opt_box .sel_option select {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: bold;
}
.opt_box button {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
  padding: 5px;
  font-weight: bold;
  position: relative;
  background-color: rgba(0, 0, 0, 0.37);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  left: 40%;
}/*# sourceMappingURL=custom.css.map */